[Unit]
Description=Todo example app Node.js API (OC CS Speckit)
After=network.target

[Service]
Type=simple
User=ubuntu
WorkingDirectory=/home/ubuntu/nodeapps/todo-speckit-backend/
ExecStart=npm run start
Restart=on-failure

[Install]
WantedBy=multi-user.target
